@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.polaroid-images a {
    background: white;
    color: black;
    float: left;
    width: 30%;
    margin: 0 15px 30px;
    padding: 10px 10px 10px;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index: 0;
}

.polaroid-images p {
    text-align: center;
    text-decoration: none;
    font: 500 18px/22px;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.polaroid-images h3 {
    text-align: center;
    text-decoration: none;
    font: 25px normal;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

@media (max-width: @screen-xs) {
    .polaroid-images p {
        text-align: center;
        text-decoration: none;
        font: 500 13px/18px;
        font-family: 'Poppins', sans-serif;
        margin: auto;
    }
}

@media (max-width: @screen-sm) {
    .polaroid-images h3 {
        text-align: center;
        text-decoration: none;
        font: 20px normal;
        font-family: 'Poppins', sans-serif;
        margin: auto;
    }
}



.polaroid-images a:after {
    color: #333;
    font-size: 20px;
    content: attr(title);
    position: relative;
    top: 15px;
}

.polaroid-text {
    text-align: left;
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-top: 5;
    margin-bottom: 0;
}

.polaroid-images img {
    display: inline;
    height: auto;
    max-width: 100%
}

.polaroid-images a:hover {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
}
